# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/*.log
server/*.txt

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build output
dist/
dist-ssr/
build/
out/
client/dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS directories
.DS_Store
Thumbs.db

# Test artifacts
server/test_*.js
